div>header,footer{
    width:420px;
    height: 32px;
    background-color: blue;
    text-align: left;
    border: 14px solid;
    border-color: darkblue;
    padding-top:12px;
    padding-bottom: none;
    padding-left: 10px;
    color:white;
    
}
div>main{
    width: 250px;
    height:10px;
    background-color:yellow;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 25px;
    padding-top: 20px;
    padding-left: 15px;
    border: 35px solid;
    border-color:olive;
    color:black;
    text-align:left;
    margin-left: 5px;
    display:flex;
}